@import "src/styles/variables";
@import "src/styles/helpers";

svg {
  cursor: pointer;
}

.titleBox {
  input {
    max-width: 15rem;
    text-overflow: ellipsis;
    outline: none;
    border: 1px solid rgba($vb-black, 0.2);
    background-color: transparent;
    padding: 0.5rem;
    &:disabled {
      border-color: transparent;
    }
  }
  svg {
    visibility: hidden;
    vertical-align: middle;
    margin-right: 0.5rem;
    &.show {
      visibility: visible;
    }
  }
  &Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;

    & > * {
      margin: 0.5rem;
    }

    .goBack {
      border: 1px solid $vb-black;
      border-radius: 50%;
      font-size: 2rem;
    }
  }
}

.btnWrap {
  text-align: right;
  &Footer {
    button:last-child {
      text-align: center;
      background: $orangeGradient;
      color: $vb-white;
      border-color: transparent;
    } 
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > *:first-child {
    width: 90%;
  }
}

.container {
  height: 100%;
  & > * {
    margin-top: 1rem;
  }
}

.songList {
  &Add {
    height: calc(100% - 15rem);
  }
  &View {
    height: calc(100% - 20rem);
    overflow: auto;
    position: relative;
  }
}
